<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
  <script src="../jquery.js"></script>
  <script src="../script.js"></script>
  <script src="../script2.js"></script>
</head>
<body>
  <p>movie-edit route working</p>

   <div class="main-container">
      <h1>Edit</h1>
 
      <form class="edit" id="beer">
        <div>
          <label for="name">
            Name
          </label>
          <input id="name" name="name" type="text" value={{beerData.name}}>
        </div>
        <div>
          <label for="category">
              Category
          </label>
          <input id="category" name="category" type="text" value={{beerData.category}}>
        </div>
        <div>
          <label for="country">
              Country
          </label>
          <input id="country" name="country" type="text" value="{{beerData.country}}">
        </div>
        <div>
          <label for="alcohol">
              Alcohol
          </label>
          <input id="alcohol" name="alcohol" type="text" value="{{beerData.alcohol}}">
        </div>
        <div>
          <label for="price">
              price
          </label>
          <input id="price" name="price" type="text" value="{{beerData.price}}">
        </div>
        <input id="beer-id" type="hidden" value="{{beerData.id}}">
        <input type="submit" value="submit">
        <a class="home-link" href="/movies">Back to movie list</a>
      </form>
    </div>
  
</body>
</html>