<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <title>Movies to Watch</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="../jquery.js"></script>
  <script src="../script.js"></script>
  <script src="../script2.js"></script>
</head>

<body>
  <header>
    <h2>Add a New Movie to Watch</h2>
  </header>

  <a href="/movies/">Back to Movies Page</a>
</br>
  <button id="new-search">New Movie Search</button>

   <div class="container">
    <div class="search-container">
    </br>
      <label>Movie Title:</label>

      <input type="text" id="movie-title" />
      <button id="submit">Search</button>

    <div id="movie-data">
    <!-- movie info appended using jQuery in script.js -->
    </div>

    <form id="result" action="/movies/movie-new" method="POST">
    <!-- hidden inputs appended to this form using jquery inside script.js -->
     <!--  <button id="add-movie">Add Movie to List</button> -->
    </form>



</body>
</html>
