<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <title>Movies to Watch</title>
<!--   <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"> -->
<!--   <link rel='stylesheet' type='text/css' href='./style.css'>-->  
  <script src="../jquery.js"></script>
  <script src="../script.js"></script>
  <script src="../script2.js"></script>
  <style>
/*    .container {
      background: magenta;
    }*/
  </style>
</head>

<body>
  <header>
    <h2>Add a New Movie to Watch</h2>
  </header>

<!--   <a href="/movies/">Back to Movies Page</a>
  <br />
  <button id="new-search">New Movie Search</button>
  <button id="add-movie">Add Movie to List</button>

  <div class="container">
    <div class="search-container">
      <label>Movie Title:</label>
      <input type="text" id="movie-title" />
      <button id="submit">Search</button>
    </div>
    <div id="result">
    </div>
  </div> -->

<!--   <form id="result" action="/movies/movie-new" method="POST">
     <input type="text" name="Movie" placeholder="Movie Title">

        <input type="submit" value="create">
  </form> -->

  <a href="/movies/">Back to Movies Page</a>
  <br />
  <button id="new-search">New Movie Search</button>
  <button id="add-movie">Add Movie to List</button>

   <div class="container">
    <div class="search-container">
      <label>Movie Title:</label>

      <input type="text" id="movie-title" />
      <button id="submit">Search</button>

<div id="movie-data">
</div>
    <form id="result" action="/movies/movie-new" method="POST">

     <button id="add-movie">Add Movie to List</button>
    </form>

<!--   </div> -->
<!--     <div id="result">
    </div> -->
<!--       <form id="result" action="/movie-new" method="POST">
     <button>Add Movie to List</button>
    </form>
  </div> -->


<!--   <a href="/movies/">Back to Movies Page</a>
  <br />
  <button id="new-search">New Movie Search</button>
  <button id="add-movie">Add Movie to List</button>

   <div class="container">
    <div class="search-container">
      <label>Movie Title:</label>

      <input type="text" id="movie-title" />
      <button id="submit">Search</button>

    <form action="/:newId" method="POST">
     <button>Add Movie to List</button>
    </form>

  </div>
    <div id="result">
    </div>
  </div> -->



<!--   <form method="POST" action="/:newId">
    <label>Movie Title:</label>
    <input type="text" value={{Title}}>
    <br />
    <label>Year</label>
    <input type="text" value={{Year}}>
    
    <label>IMDB</label>
    <input type="text" value={{Ratings.0.Value}}>
    <br />

    <label>Rotten Tomatoes</label>
    <input type="text" value={{Ratings.1.Value}}>
    <br />

    <label>Anticipation</label>
    <input type="text" value="">
    <br />

    <input type="submit">
  </form> -->


</body>
</html>
